<p id="made_by">Made by Antons Paško</p>

<script>
    var myAnimation = anime({
    targets: '#made_by',
    translateX: 250,
    endDelay: 1000,
    direction: 'alternate'
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/scripts.js"></script>

