<nav>
  <div class="nav-wrapper blue darken-3">
    <a href="/" class="brand-logo">Portfolio</a>
    
    <a href="https://github.com/AntonsPashko12/portfolio" id="github_link">Github</a>
    
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      {{#if isVer1}}
        <li class="active"><a href="/ver1">Website ver. 1</a></li>
      {{else}}
        <li><a href="/ver1">Website ver. 1</a></li>
      {{/if}}
      

      {{#if isVer2}}
        <li class="active"><a href="/ver2">Website ver. 2</a></li>
      {{else}}
        <li><a href="/ver2">Website ver. 2</a></li>
      {{/if}}
      
    </ul>
  </div>
</nav>