<style>
    body {
    background-image: url(images.jpg);
    color: #fff;
}
</style>
<h1 class="h1_web">About me</h1>
<p class="p_web">Hey, my name is Anton, and i'm young 22 years old, junior front-end developer.<br>
I'm looking for job, to improve my skills and not to slack off.<br>
This is very important to me so, this is my skills:</p>
<ol class="ol_web">
    <li>JS</li>
    <li>HTML</li>
    <li>Bootstrap, materialize and etc</li>
    <li>And just a little of back-end</li>
</ol>

<p class="p_web">P.S. My english isn't perfect so, i hope there isn't too much grammar errors</p>